#source a {
    color: black;
}
.identifier {
    color: black;
}
.keyword {
    color: blue;
}
.string {
    color: maroon;
}
.type, .type a {
    color: #2b91af;
}
.comment {
    color: green;
}
.disabled {
    color: gray;
}
.xmlcomment {
    color: gray;
}
